

.hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
  color: white;
}


.hero-video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}


.hero-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0,0,0,0.4), rgba(0,0,0,0.7));
  z-index: -1;
}


.hero-navbar {
  position: absolute;
  top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-btn {
  text-decoration: none;
  color: white;
  border: 1px solid white;
  padding: 8px 20px;
  border-radius: 20px;
  transition: 0.3s;
}

.nav-btn:hover {
  background: white;
  color: black;
}

/* Hero Content */
.hero-content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  animation: fadeIn 2s ease-in-out;
}

.hero-content h1 {
  font-size: 3.5rem;
  margin-bottom: 10px;
}

.typing-text {
  font-size: 1.3rem;
  margin-bottom: 30px;
  min-height: 30px;
}


.hero-btn {
  padding: 14px 40px;
  font-size: 1rem;
  background: rgba(255,255,255,0.2);
  backdrop-filter: blur(10px);
  border-radius: 30px;
  text-decoration: none;
  color: white;
  border: 1px solid white;
  transition: 0.3s;
}

.hero-btn:hover {
  background: #ff5a5f;
  border: none;
  transform: scale(1.05);
}

/* Smooth scroll */
html {
  scroll-behavior: smooth;
}

.hero {
  position: relative !important;
  height: 100vh !important;
}

/* Fade animation */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(60%); }
  to { opacity: 1; transform: translateY(-50%); }
}