body{
   font-family: "Plus Jakarta Sans", sans-serif !important;
   display: flex;
   flex-direction: column;
   min-height: 100vh;
   
   color:#1f2937
}

.container{
    flex:1;
}

.site-title {
  font-family: 'Cormorant Garamond', serif;
  font-size: 3.5rem;
  font-weight: 700;
  letter-spacing: 2px;
  color: #1F2933;
}

.site-title span {
  color: #b08968;
  position: relative;
}


.navbar{
    height:5rem;
    background-color: white;
}

.search{
    display:flex;
    flex-wrap: wrap;
    
   
}
.search button{
    background-color:#b08968 ;
    border-color: #b08968;
    opacity: 1;
    color: black;
    margin-left:8px;
    
}
.search button:hover{
    background-color: #8A6A50;
}

.fa-web-awesome{
    color:#b08968 ;
    font-size: 2rem;
}
.nav-link{
    color:#222222 !important;
}


/* footer*/
.f-info-links{
    text-decoration: none;
    color:#222222;
}

.f-info-links a:hover{
    text-decoration: underline;
}

.f-info-links,.f-info-socials,
.f-info-brand{
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials i{
    font-size: 1.2rem;
    margin-right: 1rem;

}

.f-info{
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

/* cards */

.listing-card{
    border:none !important;
    margin-bottom: 2rem;
}

.card-img-top{
    border-radius: 1rem !important ;
    width:100% !important;
    object-fit: cover !important;
}

.card-body{
    padding:0  !important
}

.card-text{
    font-weight: 400 !important;
}

.listing-link{
    text-decoration: none ;
}

.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color:white ;
}

/* new page */
.add-btn{
    background-color: #b08968 !important;
    border:none !important
}

.edit-btn{
    background-color: #b08968 !important;
    border:none !important
}

.show-img{
    height:30vh;
}

.btns{
    display:flex;

}

.show-card{
   padding-left: 0;
    padding-right: 0;
}



@media(max-width:900px){
    .search{
        display: none;
    }
}